<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework"><%= assigns[:page_title] || "Mai" %></.live_title>
    <meta
      name="keywords"
      content="ai chat,ai,chap gpt,chat gbt,chat gpt 3,chat gpt login,chat gpt website,chat gpt,chat gtp,chat openai,chat,chatai,chatbot gpt,chatg,chatgpt login,chatgpt,gpt chat,open ai,openai chat,openai chatgpt,openai"
    />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="title"
      content="ChatGPT: Get instant answers, find inspiration, learn something new"
    />
    <meta
      name="description"
      content="ChatGPT is a free-to-use AI system. Use it for engaging conversations, gain insights, automate tasks, and witness the future of AI, all in one place."
    />
    <meta
      property="og:description"
      content="A conversational AI system that listens, learns, and challenges"
    />
    <meta property="og:title" content="ChatGPT" />
    <meta property="og:url" content="https://chat.openai.com" />
    <meta name="next-head-count" content="17" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css"
      type="text/css"
    />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
