<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://cdn.oaistatic.com/_next/static/media/apple-touch-icon.59f2e898.png"
    /><link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://cdn.oaistatic.com/_next/static/media/favicon-32x32.be48395e.png"
    /><link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://cdn.oaistatic.com/_next/static/media/favicon-16x16.9b8dbb69.png"
    /><link rel="preconnect" href="https://cdn.oaistatic.com" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Mai" %>
    </.live_title>
    <meta
      name="keywords"
      content="ai chat,ai,chap gpt,chat gbt,chat gpt 3,chat gpt login,chat gpt website,chat gpt,chat gtp,chat openai,chat,chatai,chatbot gpt,chatg,chatgpt login,chatgpt,gpt chat,open ai,openai chat,openai chatgpt,openai"
    /><meta name="robots" content="index, follow" /><meta
      http-equiv="Content-Type"
      content="text/html; charset=utf-8"
    />
    <meta
      name="title"
      content="ChatGPT: Get instant answers, find inspiration, learn something new"
    /><meta
      name="description"
      content="ChatGPT is a free-to-use AI system. Use it for engaging conversations, gain insights, automate tasks, and witness the future of AI, all in one place."
    /><meta
      property="og:description"
      content="A conversational AI system that listens, learns, and challenges"
    /><meta property="og:title" content="ChatGPT" /><meta
      property="og:image"
      content="https://cdn.oaistatic.com/_next/static/media/chatgpt-share-og.49cbbffe.png"
    /><meta property="og:url" content="https://chat.openai.com" /><meta
      name="next-head-count"
      content="17"
    /><link
      rel="preload"
      href="https://cdn.oaistatic.com/_next/static/media/soehne-buch.13189857.woff2"
      as="font"
      crossorigin=""
    /><link
      rel="preload"
      href="https://cdn.oaistatic.com/_next/static/media/soehne-halbfett.977f1845.woff2"
      as="font"
      crossorigin=""
    /><link
      rel="preload"
      href="https://cdn.oaistatic.com/_next/static/media/soehne-kraftig.204b461c.woff2"
      as="font"
      crossorigin=""
    /><noscript data-n-css=""></noscript>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script type="text/javascript" async="" src="https://widget.intercom.io/widget/dgkjq2bp">
    </script>
    <script
      defer=""
      crossorigin="anonymous"
      nomodule=""
      src="https://cdn.oaistatic.com/_next/static/chunks/polyfills-c67a75d1b6f99dc8.js"
    >
    </script>
    <script
      src="https://cdn.oaistatic.com/_next/static/chunks/webpack-36bb4b8ca25b488e.js"
      defer=""
      crossorigin="anonymous"
    >
    </script>
    <script
      src="https://cdn.oaistatic.com/_next/static/chunks/framework-d69d7cd8328ac368.js"
      defer=""
      crossorigin="anonymous"
    >
    </script>
    <script
      src="https://cdn.oaistatic.com/_next/static/chunks/vendor-54d1df8897a4f10b.js"
      defer=""
      crossorigin="anonymous"
    >
    </script>
    <script
      src="https://cdn.oaistatic.com/_next/static/chunks/main-173f4de37abd20dd.js"
      defer=""
      crossorigin="anonymous"
    >
    </script>
    <script
      src="https://cdn.oaistatic.com/_next/static/chunks/pages/_app-ba09d0d93db2be04.js"
      defer=""
      crossorigin="anonymous"
    >
    </script>
    <script
      src="https://cdn.oaistatic.com/_next/static/chunks/pages/gpts-b4093906131dbabf.js"
      defer=""
      crossorigin="anonymous"
    >
    </script>
    <script
      src="https://cdn.oaistatic.com/_next/static/uyEi1qzvvMljULh3yWJZz/_buildManifest.js"
      defer=""
      crossorigin="anonymous"
    >
    </script>
    <script
      src="https://cdn.oaistatic.com/_next/static/uyEi1qzvvMljULh3yWJZz/_ssgManifest.js"
      defer=""
      crossorigin="anonymous"
    >
    </script>
    <meta name="react-scroll-to-bottom:version" content="4.2.0" /><link
      as="script"
      rel="prefetch"
      crossorigin="anonymous"
      href="https://cdn.oaistatic.com/_next/static/chunks/pages/gpts/editor-1dcf92080a1d17f6.js"
    /><link
      as="script"
      rel="prefetch"
      crossorigin="anonymous"
      href="https://cdn.oaistatic.com/_next/static/chunks/pages/%5B%5B...default%5D%5D-a497df5ae4355c53.js"
    /><link
      as="script"
      rel="prefetch"
      crossorigin="anonymous"
      href="https://cdn.oaistatic.com/_next/static/chunks/pages/g/%5BgizmoId%5D-9afd2f4b5aa23ebc.js"
    />
    <style>
      .r34K7X1zGgAi6DllVF3T{box-sizing:border-box;border:0;margin:0;padding:0;overflow:hidden;z-index:2147483647;pointer-events:none;visibility:hidden;opacity:0;transition:opacity 300ms linear;height:0;width:0;max-height:0;overflow:hidden;display:block}.r34K7X1zGgAi6DllVF3T.active{display:block;visibility:visible;max-height:none;overflow:visible}.r34K7X1zGgAi6DllVF3T.active.show{opacity:1;pointer-events:inherit;position:inherit}.r34K7X1zGgAi6DllVF3T.active.show.in-situ{width:inherit;height:inherit}.r34K7X1zGgAi6DllVF3T.active.show.lightbox{position:fixed;width:100% !important;height:100% !important;top:0;right:0;bottom:0;left:0}@-moz-document url-prefix(''){.r34K7X1zGgAi6DllVF3T{visibility:visible;display:block}}
    </style>
    <style data-emotion="react-scroll-to-bottom--css-ozpsh" data-s="">
    </style>
  </head>
  <body class="antialiased">
    <script>
      !function(){try{var d=document.documentElement,c=d.classList;c.remove('light','dark');var e=localStorage.getItem('theme');if('system'===e||(!e&&true)){var t='(prefers-color-scheme: dark)',m=window.matchMedia(t);if(m.media!==t||m.matches){d.style.colorScheme = 'dark';c.add('dark')}else{d.style.colorScheme = 'light';c.add('light')}}else if(e){c.add(e|| '')}if(e==='light'||e==='dark')d.style.colorScheme=e}catch(e){}}()
    </script>
    <%= @inner_content %>
  </body>
</html>
