<main class="relative h-full w-full flex-1 overflow-auto transition-width">
  <.sidebar_toggle />
  <div role="presentation" tabindex="0" class="flex h-full flex-col">
    <div class="flex-1 overflow-hidden">
      <div class="relative h-full">
        <!--
        <.header main={@main} />
        -->
        <%= if get_in(@main, [:chat]) do %>
          <.messages messages={@main.messages} uistate={@main.uistate} />
        <% else %>
          <.hello />
        <% end %>
      </div>
    </div>
    <div class="w-full pt-2 md:pt-0 dark:border-white/20 md:border-transparent md:dark:border-transparent md:w-[calc(100%-.5rem)]">
      <.input main={@main} />
      <div class="relative px-2 py-2 text-center text-xs text-token-text-secondary md:px-[60px]">
        <span>LLMs can make mistakes. Consider checking important information.</span>
      </div>
    </div>
  </div>
  <.help />
</main>
