<.image_preview id={:image_preview} src={@src} alt={@alt} show={@show} />
<button phx-click="show_image_preview">
  <img src={@src} alt={@alt} class="max-h-96 rounded-lg" draggable="false" />
</button>
